.box {
    padding: 2%;
    width: 250;
    text-align: center;
    background-color: #e7f0ff;
    border-left: 3px solid #657eeb;
    border-radius: 1%;
}

.box2{
    padding: 2%;
    width: 450;
    text-align: center;
    background-color: #f0f0f0;
    border-radius: 1%;
}

.hyper:visited {
  color: white;
  text-decoration:none;
}

.hyper:link {
  color: white;
  text-decoration:none;
}